.orderDetailWrap {
    margin-left: 25px;
    width: 100%;
    box-shadow: 0 0 4px black;
    border-radius: 5px;
    padding: 10px 5px;
    position: relative;
}

.orderDetailList {
    max-width: 90%;
    position: relative;
}

.orderDetailClose {
    position: absolute;
    top: -15px;
    right: -15px;
    cursor: pointer;
}