.displayFlexColumnCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.displayFlexRowCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}